* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #202223;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-size: 3rem;
}

.hide {
  background: #000;
  overflow: hidden;
}

.hide span {
  display: inline-block;
  transform: translateY(100%);
}
